<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.textalert">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:allowBackup="true"
        android:label="TextAlert"
        android:supportsRtl="true"
        android:theme="@style/Theme.TextAlert">
        <activity android:name=".SettingsActivity" android:exported="false"/>
        <activity android:name=".KeywordsActivity" android:exported="false"/>
        <activity android:name=".RegexHelpActivity" android:exported="false"/>
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>

